
<div class="card bg-primary text-light">
    <div class="card-body">
        <h5 class="card-title fw-bold text-decoration-underline">Registration Tips</h5>
        <span class="helptext">
            <ol>
                <li class="card_text">Your password can’t be too similar to your other personal information.</li>
                <li class="card_text">Your password must contain at least 8 characters.</li>
                <li class="card_text">Your password can’t be a commonly used password.</li>
                <li class="card_text">Your password can’t be entirely numeric.</li>
            </ol>
        </span>
        <p class="card-text"></p>
    </div>
</div>