{% extends "account/management/base.html" %}
{% load static %}
{% load crispy_forms_tags %}



{% block management %}
  <!--Reset Password Form-->
  <div class="col-lg-6 d-none d-lg-block">
    <img src=" {% static 'login/login.svg' %}" class="w-100">
  </div>

  <div class="col-lg-6 mt-5 p-5 p-md-0">
    <div class="text-center">
      <img src=" {% static 'login/login.svg' %}" class="w-50 d-md-none">
      <h1 class="h4 fw-bold mb-4">Reset Password!</h1><hr>
    </div>

    <form class="form mx-auto text-center col-8 " method="post">
      {% csrf_token %}
      <div class="form-group mb-3">
        <input type="email" name="email" id="inputEmail" class="form-control" aria-describedby="emailHelp" placeholder="School Email address" required autofocus>
      </div>

      <button class="btn btn-user btn-primary btn-block mx-auto" type="submit">Reset Password</button>
    </form>
    <hr>

    <div class="text-center">
      <a class="fw-bold" href="{% url 'register' %}">Create an Account!</a>
    </div>
  </div>
  <!--End of Login Form-->
{% endblock %}